/*RESET*/


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    
}
/* debug */
.debug{
    min-height: 80px;
    border: 1px dashed red;
    padding: 0.5rem;
}
.debug *{
    border: 1px dashed beige;

}

.header-container{
    background-color:white;
    width: 100%;
    min-height: 80px;
    display: flex;
    margin: 5px; 
    justify-content:space-around;
    align-items: center;
    gap: 15px;/*ricordare di provare que3sto*/
    position: fixed;
}

a{
text-decoration: none;
color:inherit;
margin:20px;
}


.nav-left{
    padding: 30px;
    color: grey;
    flex-grow: 3;
}

.logo{
    flex-grow: 1;
    margin-left: 20px;
}

.nav-right{
    flex-grow: 1;
}
.header-btn{
    background-color:#0061ff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* jumbo */

.jumbotron{
 min-height: 200px;
 height: 100%;
 background-color: #b4d0e7;

}

.jumbo-header-container{
   background-color: #b4d0e7;
    
    display: flex;
    justify-content: center;
    
}
 h1{
    margin-top: 50px;
    font-size: 80px;
    line-height:80px
 }

 
.jumbotron-container{
    width: 1000px;
    margin-left: 200px;
    /* background-color: #b4d0e7; */
    display: flex;
    justify-content:center;
    height:500px;
    position: relative;
    
}

.jumbo-p{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    line-height: 10px;
}

.jumbo-big-col{
   
    width: 1000px;
    background-size:cover;
    margin-top: 50px;
    
}
.jumbo-small.col{
    text-align: center;
    width: 400px;
    
    
}
button{
    background-color: #0061ff;
    padding: 10px;
    border-color:#b4d0e7 ;
}

#jumbo-btn{
    color: white;
}
